<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1ffId1DyPq3b27KotFZ6IzZ-MHv2anRc</string>
	<key>GCM_SENDER_ID</key>
	<string>954873531504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parlaItaliano.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>parla-italiano-bf214</string>
	<key>STORAGE_BUCKET</key>
	<string>parla-italiano-bf214.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954873531504:ios:764f6ec0ba700c73fcf8b5</string>
</dict>
</plist>